// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid $white;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    text-align: center;
    max-width: 450px;
    margin: 0 auto !important;
    float: none !important;
    padding: 10px 0;
  }
}
